.layout {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar viewport'
    'sidebar viewport-controls';
  overflow: hidden;

  /* Start a stacking context so canvas doesn't go behind body */
  isolation: isolate;
}

.canvas-container {
  grid-area: viewport;
  grid-row-end: viewport-controls;
  overflow: hidden;
  z-index: -1;

  /* allow pointer events to act correctly on touch devices */
  touch-action: none;

  &:not(.fullscreen) {
    /* allow canvas fade to go under the sidebar a bit */
    margin-left: -0.4rem;
  }
}

.canvas {
  image-rendering: pixelated;
}

.labeled-input {
  display: contents;
}

.sidebar {
  grid-area: sidebar;
  width: 26rem;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-2);
  overflow-y: auto;
  scrollbar-color: #5558 transparent;
}

.select {
  border-radius: var(--space-1);
  outline: none;
  margin: 0;
  padding: 0.25rem;

  color: var(--neutral-600);
  background-color: var(--neutral-100);

  &:hover,
  &:focus-within {
    color: black;
  }

  [data-theme='dark'] & {
    color: var(--neutral-400);
    background-color: var(--neutral-900);

    &:hover,
    &:focus-within {
      color: white;
    }
  }
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-2);
}

.button-card.button-card {
  display: flex;
  padding: 0;
  align-items: stretch;
  flex-direction: column;
  background: none;

  &:hover {
    background-color: white;
  }

  [data-theme='dark'] & {
    &:hover {
      background: none;
    }
  }
}

.add-flame-button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background: none;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;

  color: var(--neutral-700);
  &:hover {
    color: black;
  }

  & > svg {
    height: 24px;
  }

  [data-theme='dark'] & {
    color: var(--neutral-400);
    &:hover {
      color: white;
    }
  }
}

.delete-flame-button {
  border: none;
  border-radius: var(--round);
  position: absolute;
  top: var(--space-h);
  right: var(--space-h);
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;

  color: var(--neutral-600);
  &:hover {
    color: black;
  }

  [data-theme='dark'] & {
    color: var(--neutral-500);
    &:hover {
      color: white;
    }
  }
}

.pills-container {
  display: flex;
  gap: 10px;
}
.pill {
  padding: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #6e45e2, #88d3ce);
  border-radius: 20px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  user-select: none;
}

.pill:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.pill:active {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.pilllow {
  background: linear-gradient(45deg, #ff6b6b, #ff8e53);
}

.pillmid {
  background: linear-gradient(45deg, #f7b731, #feca57);
}

.pillhigh {
  background: linear-gradient(45deg, #54a0ff, #00ddeb);
}

.pillultra {
  background: linear-gradient(45deg, #5f27cd, #54a0ff);
}
/* .pill { */
/*   padding: 10px 20px; */
/*   font-size: 14px; */
/*   font-weight: bold; */
/*   color: white; */
/*   background: linear-gradient(45deg, #6e45e2, #88d3ce); */
/*   border-radius: 20px; */
/*   cursor: pointer; */
/*   transition: */
/*     transform 0.2s, */
/*     box-shadow 0.2s; */
/*   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
/*   text-transform: uppercase; */
/*   user-select: none; */
/* } */
/**/
.slider-with-pills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}
/**/
/* .pill:hover { */
/*   transform: translateY(-2px); */
/*   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); */
/* } */
/**/
/* .pill:active { */
/*   transform: translateY(0); */
/*   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
/* } */
/**/
/* .pill-low { */
/*   background: linear-gradient(45deg, #a3e635, #d4ff7d); */
/* } */
/**/
/* .pill-mid { */
/*   background: linear-gradient(45deg, #feca57, #f7b731); */
/* } */
/**/
/* .pill-high { */
/*   background: linear-gradient(45deg, #ff8e53, #ff6b6b); */
/* } */
/**/
/* .pill-ultra { */
/*   background: linear-gradient(45deg, #ff0000, #ff5555); */
/* } */
