.layout {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'sidebar viewport'
    'sidebar viewport-controls';
  overflow: hidden;

  /* Start a stacking context so canvas doesn't go behind body */
  isolation: isolate;
}

.canvas-container {
  grid-area: viewport;
  grid-row-end: viewport-controls;
  overflow: hidden;
  z-index: -1;

  /* allow pointer events to act correctly on touch devices */
  touch-action: none;

  &:not(.fullscreen) {
    /* allow canvas fade to go under the sidebar a bit */
    margin-left: -0.4rem;
  }
}

.canvas {
  image-rendering: pixelated;
}
.labeled-input {
  display: contents;

  & span {
    user-select: none;
    -webkit-user-select: none;
  }
}

.sidebar {
  grid-area: sidebar;
  width: 26rem;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-2);
  overflow-y: auto;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.select {
  border-radius: var(--space-1);
  outline: none;
  margin: 0;
  padding: 0.25rem;

  color: var(--neutral-600);
  background-color: var(--neutral-100);

  &:hover,
  &:focus-within {
    color: black;
  }

  [data-theme='dark'] & {
    color: var(--neutral-400);
    background-color: var(--neutral-900);

    &:hover,
    &:focus-within {
      color: white;
    }
  }
}

.action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-2);
}

.button-card.button-card {
  display: flex;
  padding: 0;
  align-items: stretch;
  flex-direction: column;
  background: none;

  &:hover {
    background-color: white;
  }

  [data-theme='dark'] & {
    &:hover {
      background: none;
    }
  }
}

.add-flame-button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background: none;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;

  color: var(--neutral-700);
  &:hover {
    color: black;
  }

  & > svg {
    height: 24px;
  }

  [data-theme='dark'] & {
    color: var(--neutral-400);
    &:hover {
      color: white;
    }
  }
}

.add-transform-variation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background: none;
  height: 2rem;
  padding: 1rem;
  cursor: pointer;

  color: var(--neutral-700);
  &:hover {
    color: black;
  }

  & > svg {
    height: 24px;
  }

  [data-theme='dark'] & {
    color: var(--neutral-400);
    &:hover {
      color: white;
    }
  }
}

.delete-flame-button {
  border: none;
  border-radius: var(--round);
  position: absolute;
  top: var(--space-h);
  right: var(--space-h);
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;

  color: var(--neutral-600);
  &:hover {
    color: black;
  }

  [data-theme='dark'] & {
    color: var(--neutral-500);
    &:hover {
      color: white;
    }
  }
}

.transform-grid {
  display: grid;
  align-items: center;
  justify-items: stretch;
  border: 2px solid;
  border-radius: var(--space-3);
  font-size: small;

  padding: var(--space-3);
  gap: var(--space-3);
  /* required for delete button to position absolutely */
  position: relative;

  color: var(--neutral-600);
  border-color: var(--neutral-200);
  background-color: white;
  [data-theme='dark'] & {
    color: var(--neutral-400);
    border-color: var(--neutral-900);
    background-color: var(--neutral-950);
  }
}

.transform-grid-first-row {
  padding-top: var(--space-2);
}

.transform-grid-row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;

  justify-items: stretch;
  gap: var(--space-3);
  font-size: small;

  align-items: center;

  /* required for delete button to position absolutely */
  position: relative;
}

.delete-variation-button {
  top: -0.5rem;
  right: -0.5rem;
  border: none;
  border-radius: var(--round);
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;

  cursor: pointer;

  color: var(--neutral-600);
  &:hover {
    color: black;
  }

  [data-theme='dark'] & {
    color: var(--neutral-500);
    &:hover {
      color: white;
    }
  }
}

.variation-button {
  background: linear-gradient(135deg, #555, #444);
  color: white;
  border: none;
  padding: 0.3rem 0.3rem;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.variation-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  transition: 0.5s;
}

.variation-button:hover::before {
  left: 100%;
}

.variation-button-text {
  pointer-events: none;
}

.variation-button-svg-color {
  top: 0px;
  left: 0px;
  position: absolute;
  pointer-events: none; /* allow clicks through badge */
  transform-origin: center;
}

.variation-button-color {
  filter: drop-shadow(0 1px 2px black);
}
.variation-button-color-circle {
  r: 0.3rem;
  cx: 0.6rem;
  cy: 0.6rem;
  fill: var(--color);
  stroke: white;
  stroke-width: 1px;
  transition: r 250ms;
}
