.editor-card {
  display: grid;
  grid-template-areas: 'overlap';
  border-radius: var(--space-3);
  overflow: hidden;
  min-height: 25vh;

  /* allow pointer events to act correctly on touch devices */
  touch-action: none;

  & > * {
    grid-area: overlap;
  }
}

.canvas {
  z-index: -1;
  image-rendering: pixelated;
}

.svg {
  width: 100%;
  height: 100%;
}

.handle {
  cursor: grab;
  filter: drop-shadow(0 1px 2px black);

  &:hover:not(:active) .handle-circle {
    r: 0.4rem;
  }

  &:active {
    cursor: grabbing;
  }
}

.handle-circle {
  r: 0.3rem;
  fill: var(--color);
  stroke: white;
  stroke-width: 1px;
  transition: r 250ms;
}

.handle-circle-grab-area {
  r: 0.6rem;
  fill: transparent;
  /* otherwise transparent fill is not hoverable */
  pointer-events: all;
}
