.button {
  --radius: var(--space-1);
  --color: var(--neutral-600);
  --color-disabled: var(--neutral-400);
  --bg-color: var(--neutral-100);
  --hover-color: black;
  --hover-bg-color: white;

  [data-theme='dark'] & {
    --color: var(--neutral-400);
    --color-disabled: var(--neutral-600);
    --bg-color: var(--neutral-950);
    --hover-color: white;
    --hover-bg-color: var(--neutral-900);
  }
}

.button {
  color: var(--color);
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius);
  padding: var(--space-2);
  line-height: 1;
  font-size: small;
  user-select: none;
  -webkit-user-select: none;

  /* increase horizontal padding if no icon is present */
  &:not(:has(svg)) {
    padding-inline: var(--space-3);
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    color: var(--color-disabled);
  }

  &:active:not(:disabled) {
    box-shadow: inset 0 0 0 1px #aaa;
  }

  &:is(:hover, .active):not(:disabled) {
    color: var(--hover-color);
    background-color: var(--hover-bg-color);
  }

  & > svg {
    box-sizing: content-box;
    width: 16px;
    padding: var(--space-2);
    margin: calc(-1 * var(--space-2));
  }
}

.button-group {
  --shadow-color: #0003;
  --radius: var(--space-1);
  [data-theme='dark'] & {
    --shadow-color: #000a;
  }
}

.button-group {
  display: flex;
  align-items: stretch;
  border-radius: var(--space-1);
  user-select: none;
  box-shadow: 0 0 2.5px 1px var(--shadow-color);

  & > .button {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

    &:last-child {
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
  }
}
