.gallery {
  --item-text-color: var(--neutral-700);
  --item-text-color-hover: black;
  --item-title-bg-color: #fffb;
  --item-border-color: var(--neutral-200);
  --item-border-color-hover: var(--neutral-400);

  [data-theme='dark'] & {
    --item-text-color: var(--neutral-400);
    --item-text-color-hover: white;
    --item-title-bg-color: rgb(from var(--neutral-900) r g b / 80%);
    --item-border-color: var(--neutral-800);
    --item-border-color-hover: var(--neutral-600);
  }
}

.variation-preview {
  display: grid;
  grid-template-columns: auto 70%;
  gap: 0.5rem;
  justify-items: stretch;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  gap: 0.5rem;
  max-width: 45rem;
  justify-items: stretch;
}

.undo-message {
  font-style: italic;
  font-size: small;
  color: var(--neutral-500);
  margin-left: var(--space-3);
}

.item {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  border: 1px solid var(--item-border-color);
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
  color: var(--item-text-color);

  &:hover {
    color: var(--item-text-color-hover);
    border: 1px solid var(--item-border-color-hover);
  }
}

.item-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background-color: var(--item-title-bg-color);
  font-size: small;
}
