.gallery {
  --item-text-color: var(--neutral-700);
  --item-text-color-hover: black;
  --item-title-bg-color: #fffb;
  --item-border-color: var(--neutral-200);
  --item-border-color-hover: var(--neutral-400);

  [data-theme='dark'] & {
    --item-text-color: var(--neutral-400);
    --item-text-color-hover: white;
    --item-title-bg-color: rgb(from var(--neutral-900) r g b / 80%);
    --item-border-color: var(--neutral-800);
    --item-border-color-hover: var(--neutral-600);
  }
}

.variation-preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
  /* justify-items: stretch; */
  height: 90vh;
  /* height: 100%; */
  min-width: 90vw;
}

dialog.modal-no-scroll {
  overflow: hidden;
}

.variation-modifier-preview {
  /* display: flex; */
  /* align-items: center; */
  /* height: 400px; */
  /* margin: auto; */
}

.gallery {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  /* max-width: 45rem; */
  /* justify-items: stretch; */
  overflow-y: auto;
  /* max-height: 100%; */
}

.undo-message {
  font-style: italic;
  font-size: small;
  color: var(--neutral-500);
  margin-left: var(--space-3);
}

.item {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  /* aspect-ratio: 16 / 9; */
  min-height: 15rem;
  border: 1px solid var(--item-border-color);
  border-radius: 0.5rem;
  cursor: pointer;
  background: none;
  color: var(--item-text-color);

  &:hover {
    color: var(--item-text-color-hover);
    border: 1px solid var(--item-border-color-hover);
  }
  &.selected {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, red, blue);
    border-image-slice: 1;
  }
}

.item-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background-color: var(--item-title-bg-color);
  font-size: small;
}

.item-params {
  width: 100%;
  text-align: center;
}
