.debug-info {
  --color: var(--neutral-500);
  --color-hover: black;
  --bg-color: #fffd;

  [data-theme='dark'] & {
    --color: var(--neutral-600);
    --color-hover: white;
    --bg-color: #000d;
  }
}

.debug-info {
  position: absolute;
  color: var(--color);
  padding-inline: var(--space-2);
  padding-block: var(--space-1);
  line-height: 1;
  right: 0;
  top: 0;
  font-size: small;
  border-bottom-left-radius: var(--space-2);
  background-color: var(--bg-color);
  cursor: pointer;
  z-index: -1;
  text-align: end;

  &:hover {
    color: var(--color-hover);
  }

  user-select: none;
  -webkit-user-select: none;
}
