.label {
  --color: var(--neutral-600);
  --hover-color: black;
  --track-color: var(--neutral-100);
  --track-border-color: var(--neutral-300);

  [data-theme='dark'] & {
    --color: var(--neutral-400);
    --hover-color: white;
    --track-color: var(--neutral-800);
    --track-border-color: var(--neutral-700);
  }
}

.label span {
  user-select: none;
}

.label {
  display: contents;
  color: var(--color);

  &:hover,
  &:focus-within {
    --color: var(--hover-color);
  }
}

.name {
  justify-self: end;
}

.value {
  justify-self: end;
}

.track {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: var(--round);
  background: var(--track-color);
  border: 2px solid var(--track-border-color);
  cursor: pointer;
  outline: none;
  touch-action: none;

  /* when scrolling into view on change, how much to over-scroll */
  scroll-margin-block: 8rem;
}

.indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  rotate: calc(-1 * var(--angle));
}

.line {
  position: absolute;
  top: 50%;
  height: 2px;
  width: 50%;
  background: linear-gradient(to right, transparent, var(--color) 50%);
  left: 50%;
  translate: 0 -50%;
  border-radius: 50%;
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: var(--round);
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotate(calc(var(--angle)));
  cursor: grab;

  background: linear-gradient(
    to bottom,
    oklab(from var(--color) calc(l + 0.2) a b),
    var(--color)
  );

  [data-theme='dark'] & {
    background: linear-gradient(
      to bottom,
      var(--color),
      oklab(from var(--color) calc(l * 0.75) a b)
    );
  }

  &:active {
    cursor: grabbing;
  }
}
