.editor-card {
  display: grid;
  grid-template-areas: 'overlap';
  border-radius: var(--space-3);
  overflow: hidden;

  /* allow pointer events to act correctly on touch devices */
  touch-action: none;

  & > * {
    grid-area: overlap;
  }
}

.canvas {
  image-rendering: pixelated;
}

.svg {
  width: 100%;
  height: 100%;
}

.handle {
  cursor: grab;
  filter: drop-shadow(0 1px 2px black);

  &:hover:not(:active) .handle-circle {
    r: 0.4rem;
  }

  &:active {
    cursor: grabbing;
  }
}

.handle-circle {
  r: 0.3rem;
  fill: var(--color);
  stroke: white;
  stroke-width: 1px;
  transition: r 250ms;
}

.handle-circle-grab-area {
  r: 0.6rem;
  fill: transparent;
  /* otherwise transparent fill is not hoverable */
  pointer-events: all;
}

.handle-box {
  --color: var(--neutral-400);
  --color-hover: black;

  [data-theme='dark'] & {
    --color: var(--neutral-400);
    --color-hover: white;
  }
}

.handle-box {
  :where(& path) {
    fill: none;
    stroke: var(--color);
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
  }

  :where(&:hover path) {
    stroke: var(--color-hover);
  }
}

.handle-box-grab-area {
  fill: none;
  stroke: transparent;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 0.5rem;
  vector-effect: non-scaling-stroke;
  cursor: nesw-resize;

  /* otherwise transparent stroke is not hoverable */
  pointer-events: all;
}

.dashed {
  stroke-dasharray: 5px 3px;
}

.arrow-head {
  fill: black;

  [data-theme='dark'] & {
    fill: white;
  }
}
