.label {
  --color: var(--neutral-600);
  --hover-color: black;
  --track-color-filled: var(--neutral-400);
  --track-color-empty: var(--neutral-200);

  [data-theme='dark'] & {
    --color: var(--neutral-400);
    --hover-color: white;
    --track-color-filled: var(--neutral-600);
    --track-color-empty: var(--neutral-800);
  }
}

.label span {
  user-select: none;
  -webkit-user-select: none;
}

.label {
  display: contents;
  color: var(--color);

  &:hover,
  &:focus-within {
    --color: var(--hover-color);
  }
}

.slider-wrapper {
  display: block;
  position: relative;
  /* track */
  isolation: isolate; /* allows sorting the track below the thumb */

  /* make the grab area a bit bigger than slider itself */
  height: 20px;

  &::before {
    display: block;
    position: absolute;
    border-radius: var(--round);
    content: '';
    height: 4px;
    left: 0;
    right: 0;
    top: calc(50% - 2px);
    background: linear-gradient(
      to right,
      var(--track-color-filled),
      var(--track-color-filled) var(--fill-percent),
      var(--track-color-empty) var(--fill-percent)
    );
  }

  &.animate-fill::before {
    --pattern-size: 10px;
    --angle: -30deg;
    --pattern-width: calc(var(--pattern-size) / sin(var(--angle)));
    animation: slide-stripes 2s linear infinite;
    background:
      linear-gradient(
        to right,
        transparent,
        transparent var(--fill-percent),
        var(--track-color-empty) var(--fill-percent)
      ),
      repeating-linear-gradient(
        var(--angle),
        var(--track-color-filled),
        var(--track-color-filled) calc(0.4 * var(--pattern-size)),
        var(--track-color-empty) var(--pattern-size)
      );
    background-size:
      100% 100%,
      200% 100%;
  }
}

.value {
  justify-self: end;
}

.slider {
  appearance: none;
  background: transparent;
  outline: none;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;

  /* when scrolling into view on change, how much to over-scroll */
  scroll-margin-block: 8rem;
  &::-moz-range-track {
    background: transparent;
    border: none;
    height: 100%;
  }
  &::-webkit-slider-runnable-track {
    background: transparent;
    border: none;
    height: 100%;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: var(--round);
    cursor: pointer;
    /* TODO: positioning slider thumb really hardcoded, any better way of doing this? */
    margin-top: 0.18rem;

    background: linear-gradient(
      to bottom,
      oklab(from var(--color) calc(l + 0.2) a b),
      var(--color)
    );
  }
  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: var(--round);
    cursor: pointer;
    /* TODO: positioning slider thumb really hardcoded, any better way of doing this? */
    margin-top: 0.18rem;

    background: linear-gradient(
      to bottom,
      oklab(from var(--color) calc(l + 0.2) a b),
      var(--color)
    );
  }
  [data-theme='dark'] &::-moz-range-thumb {
    background: linear-gradient(
      to bottom,
      var(--color),
      oklab(from var(--color) calc(l * 0.75) a b)
    );
  }
  [data-theme='dark'] &::-webkit-slider-thumb {
    background: linear-gradient(
      to bottom,
      var(--color),
      oklab(from var(--color) calc(l * 0.75) a b)
    );
  }
}

@keyframes slide-stripes {
  from {
    background-position:
      0 0,
      var(--pattern-width) 0;
  }
}
